* {
  padding: 0;
  margin: 0;
}
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap");
body,
html {
  background-color: #d3d3e6;
  font-family: "DM Sans", sans-serif;
}

.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d3d3d3;
  position: fixed;
  top: 0;
}
.kandilli-logo {
  width: 60px;
  margin-left: 10px;
  padding: 5px;
}
.rip {
  width: 50px;
  margin-right: 10px;
}
.nav-container header {
  font-size: 20px;
  font-weight: bold;
}
.earthquake-container {
  margin-top: 100px;
  width: 100%;
}
.earthquake {
  width: 85%;
  max-width: 768px;
  list-style-type: none;
  margin: 20px auto;
  padding: 20px;
  outline: 2px solid #dfdfdf;
  border-radius: 20px;
  background-color: #f1f1f1;
}

.earthquake-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.earthquake-info {
  width: 70%;
}
.earthquake-info h3 {
  margin: 5px 0;
}
.date {
  font-weight: normal;
}
.mag{
    display: flex;
    justify-content: center;
    align-items: center;
}
.green {
    width: 30px;
    height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-right: 20px;
  background-color: #068f01;
  color: #d3d3d3;
  border-radius: 50%;
  font-size: 15px;
}
.yellow {
    width: 30px;
    height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-right: 20px;
  background-color: #d8d400;
  color: #333;
  border-radius: 50%;
  font-size: 15px;
}
.orange {
    width: 30px;
    height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-right: 20px;
  background-color: #ffbb00;
  color: #000000;
  border-radius: 50%;
  font-size: 15px;
}
.red {
    width: 30px;
    height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-right: 20px;
  background-color: #eb0000;
  color: #f0f0f0;
  border-radius: 50%;
  font-size: 15px;
}
.footer{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
margin-top: 30px;
background-color: #d3d3d3;
padding: 30px 15px;
}
.message{
font-weight: bold;
margin: 5px 0;
}
.message p{
margin: 5px 0 ;
}
.bas-sagligi{
padding-bottom: 30px;
font-size: 20px;
}
.contact{
display: flex;
flex-direction: column;
justify-content: center;
margin-top: 20px;
}
.contact a, .contact p{
display: flex;
align-items: center;
margin: 5px 0;
text-decoration: none;
color: #333;
transition: all 200ms;
}

.icons{
margin-right: 5px;
border: 1px solid black;
padding: 5px;
border-radius: 50%;
}
.contact a:hover, .contact p:hover{
    transition: all 200ms;
color: #000;
}